<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Page</title>
</head>

<body>
    <center>
        <h1>This is a help Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque perferendis totam exercitationem ab harum hic deleniti. Omnis velit facere impedit recusandae deleniti? Et placeat sequi laudantium possimus itaque, aliquam quam.</p>
        {{ help_insert }}
    </center>
</body>

</html>