<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/staticstyle.css" %}">
    <title>Hello world</title>
  </head>

  <body>
    <h1>This the helloworld app</h1>
    <a href="{% url 'help' %}">Go to help</a>

    <h1>You have been visited by pinkOogaMan</h1>
    <img src="{% static "images/pink.jpg" %}" alt="Could'nt load picture">
  </body>
</html>
