<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Here is your password</h1>
            <span class="badge badge-secondary"><h2>{{ password }} </h2></span>
            <hr>

            <button onClick="window.location.reload();" class="btn alert alert-secondary">
                <h5>AGAIN</h5>
            </button>

            <a class="btn alert alert-secondary" href="{% url 'home' %}" role="button">
                <h5>HOME</h5>
            </a>
            <hr>
            <a class="btn btn-secondary" href="{% url 'about' %}" role="button">
                About
            </a>
        </div>
    </div>
</body>

</html>